
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC KAMP TABLO ÖRNEĞİ- KATEGORİ</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>GÜNCELLE</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Açıklama yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">GÜNCELLE</button></td>

    </tr>
</table>
<button class="btn btn-info" >YENİ KATEGORİ</button>
<button class="btn btn-warning">KATEGORİ LİSTESİ</button>
<button class="btn btn-danger">KATEGORİ AÇIKLAMALARI</button>